imageio==2.25.0
matplotlib==3.6.3
numpy==1.24.1
pandas==1.5.3
pillow==9.4.0
pyinstaller==4.10
PyQt5==5.15.8
pytest==7.2.1
pytest-qt==4.2.0
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.8.0
shapely==1.8.1
